<h1>Listing hypervisors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hypervisors.each do |hypervisor| %>
  <tr>
    <td><%= hypervisor.name %></td>
    <td><%= hypervisor.type %></td>
    <td><%= link_to 'Show', hypervisor %></td>
    <td><%= link_to 'Edit', edit_hypervisor_path(hypervisor) %></td>
    <td><%= link_to 'Destroy', hypervisor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hypervisor', new_hypervisor_path %>
