
<p>
  <b>Ifname:</b>
  <%= @interface.ifname %>
</p>

<p>
  <b>Mac:</b>
  <%= @interface.mac %>
</p>

<p>
  <b>Ipaddress:</b>
  <%= @interface.ipaddress %>
</p>

<p>
  <b>Shorewallname:</b>
  <%= @interface.shorewallname %>
</p>

<p>
  <b>Shorewalloptions:</b>
  <%= @interface.shorewalloptions %>
</p>

